<script>
    var theme = localStorage.getItem('appearance') == 'light' ? 'light' : 'dark_dimmed';
</script>

<script src="https://giscus.app/client.js" data-repo="jhrcook/jhrcook-website" data-repo-id="R_kgDOLQ6jwQ"
    data-category="Announcements" data-category-id="DIC_kwDOLQ6jwc4CdJHO" data-mapping="url" data-strict="0"
    data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="dark_dimmed" data-lang="en"
    data-loading="lazy" crossorigin="anonymous" async>
    </script>

<script>
    document.querySelector('script[src="https://giscus.app/client.js"]').setAttribute('data-theme', theme);
</script>
